/*
 Credits: Cadence <https://github.com/cloudrac3r/>
 */
.emojiPicker-3m1S-j,
.category-2U57w6 {
  background-color: #23272a;
}
.searchBar-2pWH0_ {
  background-color: rgb(29, 31, 32);
}
.searchBar-2pWH0_ .input-1Rv96N {
  color: #b9bbbe;
}
.emojiPicker-3m1S-j .scroller-3vODG7 .emojiItem-109bjA.selected-39BZ4S {
  background-color: rgb(53, 58, 61);
}
.categories-1feg4n {
  background-color: rgb(29, 31, 32);
  color: rgb(29, 31, 32);
  padding-left: 12px;
  padding-right: 12px;
  margin: 0px !important;
}
.categories-1feg4n > .item-16cXuq:not(.selected-39BZ4S):not(:hover) {
  filter: invert(0.88);
}
.emojiPicker-3m1S-j .scrollerThemed-2oenus.themeLight-1_DWyY .scroller-2FKFPG::-webkit-scrollbar-thumb,
.theme-dark .scrollerThemed-2oenus.themeLight-1_DWyY .scroller-2FKFPG::-webkit-scrollbar-thumb,
.theme-light .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-thumb {
  background-color: #202225;
}
.emojiPicker-3m1S-j
  .scrollerThemed-2oenus.themeLight-1_DWyY.scrollerTrack-1ZIpsv
  > .scroller-2FKFPG::-webkit-scrollbar-track,
.theme-dark .scrollerThemed-2oenus.themeLight-1_DWyY.scrollerTrack-1ZIpsv > .scroller-2FKFPG::-webkit-scrollbar-track,
.theme-light .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv > .scroller-2FKFPG::-webkit-scrollbar-track {
  background-color: #2e3338;
}
.diversitySelector-tmmMv0 .popout-2nUePc {
  background-color: #313335;
  border-color: #313335;
}
.sadImage-2ph8SI {
  filter: invert(0.8) saturate(0) contrast(1.2);
}
