.toolbar-1t6TWx .anchor-3Z-8Bb {
  display: none;
}
.toolbar-1t6TWx > .search-36MZv- ~ div:last-of-type {
  margin-right: 165px;
}
.toolbar-1t6TWx > .pc-divider {
  display: none;
}
.pc-iconWrapper {
  margin: 0;
}
.pc-iconWrapper svg {
  margin: 0px 6px;
}
.toolbar-1t6TWx .search-36MZv-:not([tabindex]) {
  position: absolute;
  right: 4px;
  z-index: 1;
  background-color: #4b4d53;
  border-radius: 4px;
}
.toolbar-1t6TWx .search-36MZv- .searchBar-3dMhjb {
  background-color: transparent;
}

/* Search bar widening */
.popoutBottom-1YbShG.noArrow-3BYQ0Z,
.popoutBottomLeft-JehOp2.noArrow-3BYQ0Z,
.popoutBottomRight-2JrySt.noArrow-3BYQ0Z,
.noArrow-2foL9g.noShadow-3pu20z.popout-2iWAc-.popoutBottom-2GAFPg.arrowAlignmentTop-1yftWI {
  transform: translateX(-50%) translateX(2px) translateY(0%) translateY(6px) translateZ(0px) !important;
}
.container-3ayLPN.elevationBorderHigh-2WYJ09 {
  width: 400px !important;
}
.search-2oPWTC.focused-31_ccS > *,
.search-2oPWTC.open-6_Y_aH > * {
  width: 395px;
}
