/*
 Credits: Cadence <https://github.com/cloudrac3r/>
 Modified to only make the body of the user panel scrollable
 */
.userPopout-3XzG_A {
  .body-3iLsc4 {
    height: 100%;
    overflow-y: auto;
    max-height: 58vh;
    background-color: #34373d;

    &::-webkit-scrollbar {
      height: 14px;
      width: 14px;
    }
    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-track {
      background-clip: padding-box;
      border-radius: 7px;
      border-style: solid;
      border-width: 3px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #202225;
      border-color: transparent;
    }

    &::-webkit-scrollbar-track {
      background-color: rgba(0, 0, 0, 0.1);
      border-color: transparent;
      border-width: initial;
    }
  }
}
