/*
 Credits: Cadence <https://github.com/cloudrac3r/>
 */
.pc-upperBadge .pc-iconBadge {
  background-color: #202225;
  color: #fff;
}
.iconBadge-2wi9r4.iconBadge-2NuvG9.base-PmTxvP {
  box-sizing: content-box;
  border: 2px solid #202225;
  border-radius: 50%;
  transform: translate(3px, -2px);
}
