/*
 Credits: Cadence <https://github.com/cloudrac3r/>
 */
header .guildIconContainer-E1JUVt {
  margin-right: 0px;
  transition: margin-right 0.15s ease-out;
}
header:hover .guildIconContainer-E1JUVt {
  margin-right: 4px;
}
header .flowerStarContainer-3zDVtj {
  width: 0px !important;
  transition: width 0.15s ease-out;
}
header:hover .flowerStarContainer-3zDVtj {
  width: 16px !important;
}
