/*
 Credits: Cadence <https://github.com/cloudrac3r/>
 */
.avatarWrapperNormal-3wFMbf,
.avatarWrapperNonUserBot-2DufN6 {
  transform: scale(1.2);
  padding: 10px 0px;
}
.avatarWrapperNormal-3wFMbf > svg,
.avatarWrapperNonUserBot-2DufN6 > svg {
  padding: 10px 0px;
}
